# IDE
.idea/

# Python cache
__pycache__/
*.pyc
*.pyo

# OS
.DS_Store
Thumbs.db
HOST26/HOST26_Code/GitHub

# Vivado project build artifacts and cache
DSE_1/
*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.srcs/
*.gen/
*.xpr
*.jou
*.log
*.wdf
*.wpc
*.lpr
*.str
*.pb
webtalk*.xml
vrs_config*.xml
